{{ define "contacts" }}

{{ template "header" . }}

<br><br>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Information about us</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident molestias animi quam rerum iusto corporis eum doloribus veritatis quisquam, odit nihil culpa accusamus saepe, soluta repellendus vitae ut voluptas tempore reiciendis, vel nam! Ullam at saepe, ducimus reiciendis, autem atque ut cumque sed architecto, labore ipsam! Exercitationem rerum necessitatibus nostrum eos facilis, nam iste. Alias non dolore voluptatum doloribus unde</p>
</main>

{{ template "footer" }}

{{ end }}