{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News website in Go</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">itProger</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link {{ if eq .CurrentPath "/" }}active{{ end }}" href="/">Home</a>
        <a class="nav-link {{ if eq .CurrentPath "/contacts" }}active{{ end }}" href="/contacts">Contacts</a>
        {{ if .IsAuth }}
          <a class="nav-link {{ if eq .CurrentPath "/create" }}active{{ end }}" href="/create">Write article</a>
          <a class="nav-link" href="/logout">Logout</a>
        {{ else }}
          <a class="nav-link {{ if eq .CurrentPath "/registration" }}active{{ end }}" href="/registration">Register</a>
          <a class="nav-link {{ if eq .CurrentPath "/auth" }}active{{ end }}" href="/auth">Login</a>
        {{ end }}
      </nav>
    </div>
  </header>
{{ end }}